@CHARSET "ISO-8859-1";

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#page {
	position: relative;
	width: 1000px;
	height: 100%;
	margin: auto;
	background-color: #f6f6f6;
}

#divFormSearch {
	width: 300px;
	margin: auto;
}

#formAll {
	width: 100%;
	margin: auto;
}

#buttonAll {
	margin: auto;
}

#divTable {
	top: 50px;
	width: 300px;
	margin: auto;
}

#formContact {
	width: 300px;
	margin: auto;
}